<div>
    <div style="text-decoration: none;" *ngFor="let poke of pokeList()">
        
        <span>{{poke.name}}</span>
        <img width="50px" [src]="poke.pictureUrl"/>
        <button (click)="handleExtraInfo(poke.id)">Extra info</button>
        <button (click)="handleRemovePokemon(poke.id)">Remove</button>
    </div>

    <div *ngIf="pokemonInfo">
        <span>{{pokemonInfo.pokemonName}}</span>
        <span>{{pokemonInfo.pokemonHabitat}}</span>
        <span>{{pokemonInfo.pokemonGeneration}}</span>
        <span>{{pokemonInfo.pokemonColor}}</span>
        <span>{{pokemonInfo.pokemonGrowthRate}}</span>
        <span>{{pokemonInfo.pokemonEggGroups}}</span>
        <span>{{pokemonInfo.pokemonHappiness}}</span>
    </div>

    <button [disabled]="pageNumber <= 0" (click)="handlePrevious()">Previous</button>
    <button [disabled]="pokeList().length < 10" (click)="handleNext()">Next</button><br>
    <button (click)="handleClearPokemons()">Clear Pokemons</button>
    

</div>