<div>
    <div class="grid grid-flow-col bg-green-100 justify-center space-x-7">
        <div style="text-decoration: none;" *ngFor="let poke of setPokeList(pageNumber)" 
        class="p-4 m-2 rounded bg-green-200" >
            
            <span >{{poke.name}}</span>
            <img class="" width="70px" [src]="poke.pictureUrl">
            <img *ngIf="addedPokemons(poke.id)" [src]="pokeBallUrl">

            <button (click)="handleExtraInfo(poke.id)">Extra info</button>
            <button (click)="handleAddPokemon(poke)">Add</button>

            
        </div>
    </div>

    <div *ngIf="pokemonInfo" class="h-1/10 w-1/2 grid grid-flow-row">
        <span>{{pokemonInfo.pokemonName}}</span>
        <span>{{pokemonInfo.pokemonHabitat}}</span>
        <span>{{pokemonInfo.pokemonGeneration}}</span>
        <span>{{pokemonInfo.pokemonColor}}</span>
        <span>{{pokemonInfo.pokemonGrowthRate}}</span>
        <span>{{pokemonInfo.pokemonEggGroups}}</span>
        <span>{{pokemonInfo.pokemonHappiness}}</span>
    </div>
<button [disabled]="pageNumber <= 0" (click)="handlePrevious()">Previous</button>

<span *ngFor="let page of pageIndex()">
    <button class="btn" (click)="handlePageIndex(page)">{{page + 1}}</button>
</span>
<button class="btn" [disabled]="setPokeList(pageNumber).length < 10" (click)="handleNext()">Next</button>
    

</div>

