<!-- <div class="navstyle">
    <div>
        <a *ngIf="!ifUser" routerLink="/login">Login</a>
    </div>


    <button>
        <a *ngIf="ifUser" routerLink="/catalogue">Pokemon Ctatalogue</a>

        <a *ngIf="ifUser" routerLink="/trainer">Trainer</a>

    </button>
</div> -->




<div class="flex items-center justify-between h-16">
    <div class="flex items-center">
        <div class="flex-shrink-0">
        </div>
        <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            
                <a href="#" *ngIf="ifUser" routerLink="/trainer"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Trainer</a>

                <a href="#" *ngIf="ifUser" routerLink="/catalogue"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pokemon
                    Ctatalogue</a>

            </div>
        </div>
    </div>